.container {
  display: flex;
  max-width: 1700px;
  margin: 0 auto;
  margin-top: 20px;
  align-items: flex-start;
  justify-content: space-between;
  gap: 50px;
}
.contact_form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.contact_form form {
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
  flex-direction: column;
}
.contact_imga {
  display: flex;
  flex-direction: column;
  opacity: 0.6;
  transition: all 300ms ease-in-out;
}
.contact_imga:hover {
  opacity: 0.9;
  transform: rotate(10deg);
}
.top_btn {
  display: flex;
  gap: 32px;
}

.form_controler {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}
.form_controler input {
  height: 40px;
  padding: 12px;
  border-radius: 6px;
  background-color: #fff;
}
.form_controler label {
  position: absolute;
  top: -11px;
  left: 10px;
  background-color: #fff;
  padding: 0 5px;
  font-size: 20px;
}

.form_controler textarea {
  padding-top: 25px;
}
